---
// src/components/PageHeader.astro
---
<h1>fuc.moe URL Shortener</h1>
<h2><span>FUC</span>king shorten <span>MO</span>r<span>E</span> urls</h2>

<style>
	h1 {
		/* Add any specific styles for h1 if needed */
		text-align: center;
		margin-bottom: 0.5em;
	}
	h2 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 2em; /* Give some space before the form */
		font-weight: 400; /* Example */
	}
	h2 span {
		color: #00f;
		font-weight: 700; /* Example */
	}
</style>
